extends layout

block content
  .container.o-grid-container.o-typography-wrapper
    .o-grid-row(data-o-grid-colspan='center 8')
      h1.heading.text--center.o-editorial-typography-headline= title
      p.subheading.text--center.o-editorial-typography-standfirst
        | Search our headlines, today.
