.container {
  margin-top: var(--o-spacing-m12);
  max-width: unset; }

.heading:after {
  content: none; }

.subheading {
  margin-top: var(--o-spacing-s1);
  margin-bottom: var(--o-spacing-s8); }

.pagination {
  margin: var(--o-spacing-s4) 0; }

.counter {
  margin: 0 var(--o-spacing-s3); }

.text--center {
  text-align: center; }
