.container {
  margin-top: var(--o-spacing-m12);
  max-width: unset;
}

.heading {
  &:after {
    content: none;
  }
}

.subheading {
  margin-top: var(--o-spacing-s1);
  margin-bottom: var(--o-spacing-s8);
}

.pagination {
  margin: var(--o-spacing-s4) 0 var(--o-spacing-s6) 0;
}

.counter {
  display: none;
  margin: 0 var(--o-spacing-s3);

  @media (min-width: 768px) {
    display: inline-block;
  }
}

.button__previous {
  margin-right: var(--o-spacing-s3);

  @media (min-width: 768px) {
    margin: 0;
  }
}

.text--center {
  text-align: center;
}
