.container {
  margin-top: var(--o-spacing-m12);
  max-width: unset;
}

.heading {
  &:after {
    content: none;
  }
}

.subheading {
  margin-top: var(--o-spacing-s1);
  margin-bottom: var(--o-spacing-s3);

  &:after {
    content: '';
    display: block;
    border-bottom: calc(.34ex + 1px) solid;
    width: 100%;
    max-width: 100%;
    padding-top: var(--o-spacing-s4);
  }
}

.text--center {
  text-align: center;
}
