footer.o-footer.o-footer--theme-dark(data-o-component='o-footer', data-o-footer--no-js='')
  .o-footer__container
    .o-footer__row
      nav.o-footer__matrix(role='navigation', aria-label='Useful links')
        .o-footer__matrix-group.o-footer__matrix-group--1
          h2.o-footer__matrix-title
            | Support
          #o-footer-section-0.o-footer__matrix-content
            .o-footer__matrix-column
              a.o-footer__matrix-link(href='//www.ft.com/help') Help
              a.o-footer__matrix-link(href='//www.ft.com/aboutus') About Us
        .o-footer__matrix-group.o-footer__matrix-group--1
          h2.o-footer__matrix-title
            | Legal & Privacy
          #o-footer-section-1.o-footer__matrix-content
            .o-footer__matrix-column
              a.o-footer__matrix-link(href='//www.ft.com/servicestools/help/terms') Terms & Conditions
              a.o-footer__matrix-link(href='//www.ft.com/servicestools/help/privacy') Privacy
              a.o-footer__matrix-link(href='//www.ft.com/cookiepolicy') Cookies
              a.o-footer__matrix-link(href='//www.ft.com/servicestools/help/copyright') Copyright
        .o-footer__matrix-group.o-footer__matrix-group--2
          h2.o-footer__matrix-title(aria-controls='o-footer-section-2')
            | Services
          #o-footer-section-2.o-footer__matrix-content
            .o-footer__matrix-column
              a.o-footer__matrix-link(href='//sub.ft.com/spa_5') Individual Subscriptions
              a.o-footer__matrix-link(href='//enterprise.ft.com/en-gb/services/group-subscriptions/') Group Subscriptions
              a.o-footer__matrix-link(href='//enterprise.ft.com/en-gb/services/republishing/') Republishing
              a.o-footer__matrix-link(href='//www.businessesforsale.com/ft2/notices') Contracts & Tenders
              a.o-footer__matrix-link(href='//commerce.uk.reuters.com/purchase/mostPopular.do?rpc&#x3D;471') Analysts Research
            .o-footer__matrix-column
              a.o-footer__matrix-link(href='//www.exec-appointments.com/') Executive Job Search
              a.o-footer__matrix-link(aria-label='Advertise with the F T', href='//fttoolkit.co.uk/d/') Advertise with the FT
              a.o-footer__matrix-link(aria-label='Follow the F T on Twitter', href='//twitter.com/ft') Follow the FT on Twitter
        .o-footer__matrix-group.o-footer__matrix-group--2
          h2.o-footer__matrix-title(aria-controls='o-footer-section-3')
            | Tools
          #o-footer-section-3.o-footer__matrix-content
            .o-footer__matrix-column
              a.o-footer__matrix-link(href='//markets.ft.com/data/portfolio/dashboard') Portfolio
              a.o-footer__matrix-link(href='//ftepaper.ft.com') Today's Paper
              a.o-footer__matrix-link(href='//markets.ft.com/data/alerts/') Alerts Hub
              a.o-footer__matrix-link(href='//lexicon.ft.com/') Lexicon
              a.o-footer__matrix-link(href='//rankings.ft.com/businessschoolrankings/global-mba-ranking-2016') MBA Rankings
            .o-footer__matrix-column
              a.o-footer__matrix-link(href='//markets.ft.com/Research/Economic-Calendar') Economic Calendar
              a.o-footer__matrix-link(href='//nbe.ft.com/nbe/profile.cfm') Newsletters
              a.o-footer__matrix-link(href='//markets.ft.com/research/Markets/Currencies?segid&#x3D;70113') Currency Converter
              a.o-footer__matrix-link(aria-label='E-books', href='//www.ft.com/ebooks') Ebooks
      h2.o-footer__external-link.o-footer__matrix-title
        a.o-footer__more-from-ft.o-footer__matrix-title(href='http://ft.com/more-from-ft-group') More from the FT Group
    .o-footer__copyright
      small
        | Markets data delayed by at least 15 minutes. © THE FINANCIAL TIMES LTD 2020.
        abbr(title='Financial Times', aria-label='F T') FT
        |  and ‘Financial Times’ are trademarks of The Financial Times Ltd.
        br
        | 				The Financial Times and its journalism are subject to a self-regulation regime under the 
        a(href='http://aboutus.ft.com/en-gb/ft-editorial-code/', aria-label='F T Editorial Code of Practice') FT Editorial Code of Practice
        | .
  .o-footer__brand
    .o-footer__container
      .o-footer__brand-logo
