doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-grid@^5.0.2,o-colors@^5.0.6,o-typography@^6.1.3,o-header@^8.0.2,o-footer@^7.0.2,o-editorial-typography@^1.0.4,o-normalise@^2.0.1,o-spacing@^2.0.0,o-teaser-collection@^3.0.1,o-teaser@^4.0.0,o-date@^4.0.0,o-buttons@^6.0.8,o-forms@^8.1.12')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.o-colors-page-background
    include ./header
    block content
    include ./footer
    script(src='https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-header@^8.0.2,o-footer@^7.0.2,o-date@^4.0.0')
