.o-grid-row(data-o-grid-colspan='center 8')
  form(action='/search', role='search')
    label.o-forms-field(for='search')
      span.o-forms-title.o-header__visually-hidden
        span.o-forms-title__main Search headlines
      span.o-forms-input.o-forms-input--text.o-forms-input--suffix
        input(type='search', name='q', value=term ? term : '')
        button.o-buttons.o-buttons--secondary.o-buttons-icon.o-buttons-icon--search.o-buttons--big(type='submit', value='Search')
          | Search
