extends ../components/layout

block content
  .container.o-grid-container.o-typography-wrapper
    .o-grid-row(data-o-grid-colspan='center 12 S10 M8')
      h1.heading.text--center.o-editorial-typography-headline(data-cy='title')= title
      p.subheading.text--center.o-editorial-typography-standfirst(data-cy='subheading')
        | Search our headlines, today.

    include ../components/search

    if term
      include ../components/results
